[submodule "third_party/XenseVR-PC-Service"]
	path = third_party/XenseVR-PC-Service
	url = git@github.com:Vertax42/XenseVR-PC-Service.git
[submodule "third_party/taccap-gripper"]
	path = third_party/taccap-gripper
	url = git@github.com:Vertax42/TacCap-Gripper.git
[submodule "third_party/XenseVR-RobotVision-PC"]
	path = third_party/XenseVR-RobotVision-PC
	url = git@github.com:Vertax42/XenseVR-RobotVision-PC.git
